{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
        <li style="font-size: 4;"> {{ title }}</li>
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <!-- <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p> -->
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description" style="margin: top 5px;">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}

    <!-- {% if post.collection == 'publications' %}
    <p style="margin: -12px auto"><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
    {% endif %} -->
    
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>
        {% if post.venuename %}
          [ <a href=" {{ post.venuelink }} " style="color:#3498db">{{ post.venuename }}</a> ]
        {% endif %}

        [ <a href=" {{ post.paperurl }} " style="color:#3498db">pdf</a> ]
        
        {% if post.slidesurl %}
          [ <a href=" {{ post.slidesurl }} " style="color:#e74c3c">slides</a> ]
        {% endif %}

        {% if post.codeurl %}
        [ <a href=" {{ post.codeurl }} " style="color:#28b463">code</a> ] 
        {% endif %}

        {% if post.videourl %} 
        [ <a href=" {{ post.videourl }} " style="color:#9b59b6">video</a> ]
        {% endif %}

        {% if post.posterurl %} 
        [ <a href=" {{ post.posterurl }} " style="color:#d35400">poster</a> ]
        {% endif %}

        {% if post.shortpaperurl %} 
        [ <a href=" {{ post.shortpaperurl }}" style="color:#5d6be2">short paper</a> ]
        {% endif %}
      </p>
    {% else %}
      <p>
        [ <a href="">To Appear</a> ]
      </p>
    {% endif %}

  </article>
</div>
